<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.a4x.dotfiles.todo-reminders</string>
  <key>CFBundleName</key>
  <string>Todo Reminders Bridge</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.0</string>
  <key>NSRemindersFullAccessUsageDescription</key>
  <string>允许远程容器中的 Todo TUI 读取和更新你的 iCloud 提醒事项。</string>
</dict>
</plist>
